apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
  labels:
  app: todo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: frontend
        image: vishalldwivedi/todo-frontend:prod
      ports:
      - containerPort: 80
      envFrom:
      - configMapRef:
          name: frontend-config
      resources:
        requests:
          cpu: "50m"
          memory: "128Mi"
        limits:
          cpu: "250m"
          memory: "256Mi"
      readinessProbe:
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 10
        periodSeconds: 10
      livenessProbe:
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 20
        periodSeconds: 15